/* Estilos para los botones */
.button {
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 20px; /* Ajusta el espaciado entre los botones */
    cursor: pointer; /* Cambia el cursor al pasar sobre los botones */
}

/* Estilos para los botones de la página principal */
.principal-button {
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 20px; /* Ajusta el espaciado entre los botones */
}

/* Estilos para el contenedor de los botones de destinos */
.destinos-button-container {
    display: flex; /* Muestra los botones en una fila horizontal */
    justify-content: space-around; /* Distribuye los botones de manera uniforme */
    margin-top: 20px; /* Margen superior para separar los botones del contenido superior */
}

/* Estilos para el contenedor de los botones de viajes disponibles */
.viajes-button-container {
    display: flex;
    justify-content: space-around; /* Distribuye los botones de manera uniforme */
    margin-top: 20px; /* Margen superior para separar los botones del contenido superior */
}

/* Estilos para el contenedor del título */
.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

/* Estilos para el logotipo */
.logo {
    width: 100px;
    height: auto;
}

/* Estilos para el fondo */
body {
    background-image: url("{{ url_for('static', filename='pescavicio.jpg') }}");
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos para las imágenes de los destinos */
.imagen-destino {
    width: 100px;
    height: auto;
}
