<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Shipi</h1>
    <div class="button-container">
        <a href="{{ url_for('seleccionar_destinos') }}"><button>Ver destinos</button></a>
        <a href="{{ url_for('informacion_contacto') }}"><button class="center">Contacto</button></a>
        <a href="{{ url_for('informacion_empresa') }}"><button class="right">Nosotros</button></a>
    </div>
</body>
</html>


