<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Turismo</title>
    <style>
        /* Estilos CSS para centrar el texto */
        .center-text {
            text-align: center;
            margin-top: 50px; /* Espacio superior */
        }
    </style>
</head>
<body>
    <!-- Encabezado -->
    <h1 class="center-text">El portal de Shypiiiiii</h1>
    <!-- Enlaces para navegar a las diferentes secciones -->
    <ul>
        <li><a href="/seleccionar-destino">Seleccionar Destino</a></li>
    </ul>
</body>
</html>
