<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de la Empresa</title>
</head>
<body>
    <h1>Información de la Empresa</h1>
    <p>¡Bienvenido a Shipi! Somos una empresa dedicada a proporcionar experiencias de viaje únicas y emocionantes para nuestros clientes.</p>
    <p>Nuestra misión es brindar servicios de alta calidad y hacer que cada viaje sea memorable.</p>
    <p>Contáctanos hoy mismo para obtener más información sobre nuestros servicios y cómo podemos hacer que tu próximo viaje sea inolvidable.</p>
</body>
</html>
