<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Destinos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Agrega el enlace a tu archivo de estilos CSS -->
</head>
<body>
     
     <!-- Agregar el bloque de código para mostrar los destinos con imágenes -->
     <div class="destinos-container">
        {% for destino in destinos %}
            {% if destino[0] %} <!-- Verifica si el destino tiene un nombre -->
                <div class="boton-destino">
                    <a href="{{ url_for('info_destino', destino=destino[0]) }}">
                        <button id="btn-{{ loop.index }}">{{ destino[0] }}</button>
                        <img src="{{ url_for('static', filename='images/' + destino[1]) }}" alt="Imagen de {{ destino[0] }}" class="imagen-destino">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Botón para ir a la página de viajes disponibles -->
    <div class="viajes-button-container">
        <a href="{{ url_for('viajes_disponibles') }}"><button>Viajes Disponibles</button></a>
    </div> 
</body>
</html>
